.UserCard{
    background-color: rgba(255, 254, 254, 0.25);
    border-radius: .5rem;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.UserCard_box_img{
    border-radius: 50%;
}

.UserCard_box_info{
    line-height: .6;
}

.UserCard_box_info button{
    /* background-color: rgba(0,0,0, 0.25); */
    background-color: rgb(120, 43, 102);
    color: #ffffff;
    width: 50%;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    cursor: pointer;
}

.UserCard_box_info button:hover{
    /* background-color: rgba(0,0,0, 0.25); */
    background-color: rgb(218, 218, 218);
    color: rgb(120, 43, 102);
    width: 50%;
    padding: 0.9rem;
    border: 0.1rem solid rgb(120, 43, 102);
    border-radius: .5rem;
    font-size: 1rem;
    cursor: pointer;
}

.number{
    position: absolute;
    right: 1rem;
    padding: 1rem 1.3rem;
    border-radius: 50%;
    background-color: #ecf4f6;
    /* background-color: antiquewhite; */
    top: 1rem;
}